.appDiv {
  background-color: rgb(141, 233, 228);
  text-align: center;
}

.button {
  display: inline-block;
  position: relative;
  bottom: 5px;
}

.decrement {
  position: relative;
  right: 10px;
}

.increment {
  position: relative;
  left: 10px;
}

.value {
  display: inline-block;
}